@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not collect any data from you. It is only for educational purposes. It is a project for YETGIM and techcareer.net courses 2025.</p>
